<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yeyue.pictureshare.dao.CollectionDao">
    <resultMap id="collectionMap" type="com.yeyue.pictureshare.model.CollectionEntity"></resultMap>
    <select id="getCollection" resultMap="collectionMap">
        <![CDATA[select * from collectioninfo]]>
        <where>
            picShare = #{picShareId} and collected = #{userId}
        </where>
    </select>
    <select id="getCollectedNum" resultType="Integer">
        <![CDATA[select count(*) from collectioninfo]]>
        <where>
            picShare = #{picShareId} and status = 1
        </where>
    </select>
    <insert id="addCollection">
        insert into collectioninfo(collectionId,picShare,collected,created,status) values (#{collection.collectionId},#{collection.picShare},#{collection.collected},now(),2)
    </insert>
    <update id="changeCollection">
        update collectioninfo set status = #{status},created = now()
        <where>
            collectionId = #{collectionId}
        </where>
    </update>
</mapper>